<meta charset="UTF-8" />
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
    <title>eShop</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <header>
        <input type="text" class="goods-search" v-model='searchLine'></input>
        <button class="search-button" type="button" v-on:click="searchGoods">Искать</button>
        <button class="cart-button" type="button" v-on:click='showBusket'>Корзина</button>
      </header>
      <main>
        <div class="goods-list">
          <div class="goods-item" v-for="good in filteredGoods">
            <h3>{{good.product_name}}</h3>
            <p>{{good.price}}</p>
          </div>
        </div>
        <div class="busket-list" v-if='isVisibleCart == true'>
          <h3>Корзина</h3>
          <p v-if='busketGoods.length==0'>Нет данных</p>
          <div class="busket-item" v-for="good in busketGoods">
            <h3>{{good}}</h3>
          </div>
        </div>
      </main>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="script.js"></script>
</html>

